.navlink {
    margin-left: 10px;
    color: lightgray;
}

.navlink:hover {
    color: white;
    text-decoration: none;
    transform: translateY(-2px);
}

.active {
    color: white;
    border-bottom: 3px solid white;
}

